@charset "utf-8";
/* CSS Document */

/* Desktop View / Global View */

.title{
	text-align: center;
	padding: 20px;
}
.input-block{
	width: 100%;
	margin: 0px -3px 0px -2px;
	text-align: center;
	font-size:275%;
}
.top-left{
	border-style: solid;
	border-width: 4px 2px 2px 4px;
}

.top-mid{
	border-style: solid;
	border-width: 4px 2px 2px 2px;
}

.top-right{
	border-style: solid;
	border-width: 4px 4px 2px 2px;
}

.mid-left{
	border-style: solid;
	border-width: 2px 2px 2px 4px;
}

.mid-mid{
	border-style: solid;
	border-width: 2px 2px 2px 2px;
}

.mid-right{
	border-style: solid;
	border-width: 2px 4px 2px 2px;
}

.bot-left{
	border-style: solid;
	border-width: 2px 2px 4px 4px;
}

.bot-mid{
	border-style: solid;
	border-width: 2px 2px 4px 2px;
}

.bot-right{
	border-style: solid;
	border-width: 2px 4px 4px 2px;
}

body {
	font-family: 'Open Sans', sans-serif;
	max-width:1024px;
	margin: auto;
}

h2{
	text-align: center;
}
h1 {
	font-weight: 300;
	font-size: 52px;
	margin-bottom: -5px;
}

form {
	display: inline-block;
}

div.form {
	
	display: block;
}


.outputText{
  width: 100%;
  margin: 0px -3px 0px -2px;
  font-size: 285%;
  text-align: center;
}
.col {
	float: left;
	width:11%;
}

.col-lg {
	 width: 98%;

}
.col-md {
	width: 40%;
}



@media (min-width: 1000px) {

	.col-lg{
		width: 48%;
		padding: 1%;
	}
	.outputText{
		width: 100%;
		margin: 0px;
		font-size: 285%;
		text-align: center;
	}
	
}
