@charset "utf-8";
/* CSS Document */

/* Desktop View / Global View */

.title{
	text-align: center;
	padding: 20px;
}
.input-block{
	width: 100%;
	margin: 0px;
	text-align: center;
	font-size:285%;
}
.top-left{
	border-style: solid;
	border-width: 4px 2px 2px 4px;
}

.top-mid{
	border-style: solid;
	border-width: 4px 2px 2px 2px;
}

.top-right{
	border-style: solid;
	border-width: 4px 4px 2px 2px;
}

.mid-left{
	border-style: solid;
	border-width: 2px 2px 2px 4px;
}

.mid-mid{
	border-style: solid;
	border-width: 2px 2px 2px 2px;
}

.mid-right{
	border-style: solid;
	border-width: 2px 4px 2px 2px;
}

.bot-left{
	border-style: solid;
	border-width: 2px 2px 4px 4px;
}

.bot-mid{
	border-style: solid;
	border-width: 2px 2px 4px 2px;
}

.bot-right{
	border-style: solid;
	border-width: 2px 4px 4px 2px;
}

body {
	font-family: 'Open Sans', sans-serif;
	max-width:1024px;
	margin: auto;
}

h2{
	text-align: center;
}
h1 {
	font-weight: 300;
	font-size: 52px;
	margin-bottom: -5px;
}

form {
	display: inline-block;
}

div.form {
	
	display: block;
}


.outputText{
  width: 100%;
  margin: 0px;
  font-size: 285%;
  text-align: center;
}
.col {
	float: left;
	width:11%;
}

.col-lg {
	 width: 98%;

}
.col-md {
	width: 40%;
}

.solve{
	background-color: #10d137;
}
.clear{
	background-color: #c6c4c4;
}
.btn {
	/* default for <button>, but useful for <a> */
	display: inline-block;
	text-align: center;
	text-decoration: none;
  
	/* create a small space when buttons wrap on 2 lines */
	margin: 2px 0;
  
	/* invisible border (will be colored on hover/focus) */
	border: solid 1px transparent;
	border-radius: 4px;
  
	/* size comes from text & padding (no width/height) */
	padding: 0.5em 1em;
  
	/* make sure colors have enough contrast! */
	color: #ffffff;

	outline: none;
  }
  
  
  /* Firefox: removes the inner border shown on focus */
  .btn::-moz-focus-inner {
	border: none;
  }

/* inverse colors on hover */
.btn:hover {
	color: #9050AA;
	border-color: currentColor;
	background-color: white;
  }
  
  /* make sure we have a visible focus ring */

  input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

  

@media (min-width: 1000px) {

	.input-block{
		width: 98%;
		margin: 0px -3px 0px -2px;
		font-size: 285%;
		text-align: center;

	}
	.col-lg{
		width: 48%;
		padding: 1%;
	}
	.outputText{
		width: 100%;
		margin: 0px -3px 0px -2px;
		font-size: 285%;
		text-align: center;
	}
	
}
